<form [formGroup]="typeVehiculeForm" class="myForm">

  <div class="form-group">
    <label for="name">type</label>
    <input type="text" class="form-control" formControlName="type" placeholder="ex : Camion" required style="text-transform: uppercase;">
    <p class="small alert-danger msg-error" *ngIf="typeVehiculeForm.controls.type.invalid && (typeVehiculeForm.controls.type.touched || typeVehiculeForm.controls.type.dirty)">Ce champ est null ou mal saisi</p>
  </div>

  <div class="form-group">
    <label for="name">poids Minimum</label>
    <input type="number" class="form-control" (change)="onChangeWeight()" formControlName="poidsMin" placeholder="ex : 1500" min="1" required style="text-transform: capitalize;">
    <p class="small alert-danger msg-error" *ngIf="typeVehiculeForm.controls.poidsMin.invalid && (typeVehiculeForm.controls.poidsMin.touched || typeVehiculeForm.controls.poidsMin.dirty)">Ce champ est null ou mal saisi</p>
  </div>

  <div class="form-group">
    <label for="number">poids maximum</label>
    <input type="number" class="form-control" (change)="onChangeWeight()" formControlName="poidsMax" placeholder="ex : 1500" min="1" required style="text-transform: capitalize;">
    <p class="small alert-danger msg-error" *ngIf="typeVehiculeForm.controls.poidsMax.invalid && (typeVehiculeForm.controls.poidsMax.touched || typeVehiculeForm.controls.poidsMax.dirty)">Ce champ est null ou mal saisi</p>
  </div>

  <button

    type="submit" class="btn btn-form-submit"
    [disabled]="typeVehiculeForm.pristine || typeVehiculeForm.invalid || typeVehiculeForm.controls.errors"
    (click)="updateTypeVehicule()"
    >Enregistrer</button>

</form>
