<form class="myForm">

  <div class="form-group">
    <label for="name">libelle</label>
    <label class="myLabel" data-toggle="modal" data-target=".add-sousTypeEmballages" >ajouter un nouveau sous type d'emballage</label>
    <input type="text" class="form-control" style="text-transform: uppercase;" value="{{typeEmballage?.libelle}}" readonly>
  </div>

  <table *ngIf="typeEmballage?.sousTypeEmballages?.length > 0" class="table myTable">
      <tbody>
          <tr>

            <th class="text-center" [attr.rowspan]="typeEmballage?.sousTypeEmballages?.length * 2">
              les sous Type d'Emballages
            </th>

          </tr>
          <tr *ngFor="let sousTypeEmballages of typeEmballage?.sousTypeEmballages;">

            <td class="text-center" >
              {{sousTypeEmballages?.libelle | uppercase}}
            </td>
            <td class="project-actions text-center">

                <a class="btn btn-action-edit btn-action"
                (click)="selectedSousEmballage = sousTypeEmballages"
                data-toggle="modal" data-target=".edit-sousTypeEmballages">
                    <i class="fas fa-edit"></i>
                </a>

                <a class="btn btn-action-delete btn-action"
                (click)="selectedSousEmballage = sousTypeEmballages"
                data-toggle="modal" data-target=".delete-sousTypeEmballages">
                    <i class="fas fa-trash"></i>
                </a>

            </td>
          </tr>
      </tbody>
  </table>

</form>

<!-- add sousTypeEmballage -->
<div class="modal fade add-sousTypeEmballages myModal"  tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="myAddModalLabel">MODIFIER LES INFORMATIONS DE <span>{{ selectedSousEmballage?.nom + ' ' + selectedSousEmballage?.prenom | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            </div>
            <div class="modal-body">
              <app-add-sous-type-emballage

                (isClosed)="toLoadData($event)"
                [typeEmballage]="typeEmballage"
                >

              </app-add-sous-type-emballage>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin add sousTypeEmballage -->

<!-- update sousTypeEmballage -->
<div class="modal fade edit-sousTypeEmballages myModal"  tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title" id="myAddModalLabel">MODIFIER LES INFORMATIONS DE <span>{{ selectedSousEmballage?.nom + ' ' + selectedSousEmballage?.prenom | uppercase }}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            </div>
            <div class="modal-body">
              <app-update-sous-type-emballage

                (isClosed)="toLoadData($event)"
                [sousTypeEmballage]="selectedSousEmballage">

              </app-update-sous-type-emballage>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin update sousTypeEmballage -->

<!-- delete sousTypeEmballage -->
<div class="modal fade delete-sousTypeEmballages myModal"  tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myAddModalLabel">SUPPRIMER LE sous type d'Emballage</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

              <h4 class="delete-msg">Voulez-vous vraiment supprimer le sous type d'Emballage ?!</h4>
              <input [(ngModel)]="deleteConfirmation" type="text"  parsley-trigger="change" required="" placeholder="confirmez la supprission en saisissant 'YES'" class="form-control delete-confirmation">


            </div>
            <div class="modal-footer">
                <button [disabled]="deleteConfirmation.toUpperCase() != 'YES'"
                (click)="deleteSousTypeEmballage()" type="button" class="btn btn-delete waves-effect waves-light">Supprimer</button>
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Anuller</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- fin delete sousTypeEmballage -->
