<form [formGroup]="typeEmballageForm" class="myForm">

  <div class="form-group">
    <label for="name">libelle</label>
    <input type="text" class="form-control" formControlName="libelle" placeholder="ex : Boite" required style="text-transform: uppercase;">
    <p class="small alert-danger msg-error" *ngIf="typeEmballageForm.controls.libelle.invalid && (typeEmballageForm.controls.libelle.touched || typeEmballageForm.controls.libelle.dirty)">Ce champ est null ou mal saisi</p>
  </div>

  <button
    type="submit" class="btn btn-form-submit"
    [disabled]="typeEmballageForm.pristine || typeEmballageForm.invalid || typeEmballageForm.controls.errors"
    (click)="updateTypeEmballage()"
    >Enregistrer</button>

</form>
